---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Contact | Respinar"
  description="Contact Us"
>

  <h1>Contact Us</h1>
  <p>
    <a href="tel:+989142553221">mobile: +98 914 255 3221</a>
    <a href="mailto:hamid@respinar.com">email: info@respinar.com</a>
  </p>
  
</BaseLayout>

