---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Respinar | Freelance Web Developer"
    description="Hamid Peywasti - Freelance Web Developer creating modern, fast, and SEO-friendly websites."
    >

  <p>I’m a freelance web developer passionate about creating modern, responsive, and SEO-friendly websites using PHP, JavaScript, and Linux tools.</p>
  <p>
    <a href="/about">Learn more about me →</a></p>
  <p>
    <a href="mailto:info@respinar.com">info@respinar.com</a>
  </p>

</BaseLayout>
