<header style="text-align: center; margin-top: 2rem;">
    <img src="/logo.svg" alt="Respinar Logo" width="90" height="90">
    <h1>Respinar</h1>
    <p style="color:#94a3b8">Freelance Web developer</p>
</header>