<header class="flex justify-center bg-gray-800 text-gray-400">
    <div class="flex w-250 items-center justify-between">
        <div class="flex items-center">
            <img src="/logo.svg" alt="Respinar Logo" width="90" height="90">
            <div class="">
                <h1 class="text-xl font-black">Respinar</h1>
                <p class="text-xs">Freelance Web developer</p>
            </div>
        </div>
        <nav class="flex gap-3">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>    
</header>